                                  <!---Nav Bar Html  for UI--->
<nav class=" nav navbar navbar-inverse navbar-expand-md bg-dark navbar-dark">
  <div class="nav-container">
    <!--nav bar image-->
    <a class="navbar-brand" href="#">
      <img src="/ticketManagementSystem/app/assets/images/pwslab-gear-white.png" alt="logo" style="width:40px;">
    </a>
    <span class='h3'>PeerXP Support</span>
    <button class="navbar-toggler buttomIcon" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--nav bar collapsible menu-->
    <div class="collapse menu navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="?addTicket">Add Ticket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="?listTicket">Tickets List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="?logout" onclick="localSessionDestory()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
                                    <!---End Off--->