<div class="container">
  <form class="form-horizontal"  id='signInForm' name="registration">
    <h3 class="formCaption">Sign In</h2>
      <div class="form-group">
        <input type="email" class="form-control col-sm-10 col-lg-10 col-md-10" id="email" placeholder="Enter email"
          name="email">
        <div class="hdEmailId col-sm-10 col-lg-10 col-md-10">Enter Valid Email id</div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control col-sm-10 col-lg-10 col-md-10" id="password"
          placeholder="Enter Password" name='password'>
        <div class="hdPassword col-sm-10 col-lg-10 col-md-10">Password is Required</div>

      </div>
      <div class="form-group text-center">
        <div class="col-12">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

      </div>
  </form>
</div>
<script rel="preload" src="components/loginComponent/login.js" defer as='js'></script>
<script rel="prefetch" src="components/addTicketComponent/addTicket.js" defer as='js'></script>
